.header
  height: 0
  z-index: 10
  position: relative

.header-logo
  display: inline-block
  background: $color-yellow
  padding: 6px 4px 0
  @extend %type-heading
  @extend %type-24pt
  a
    text-decoration: none
    color: $color-black
  &:hover
    background: $color-white

.social-links
  float: right
  list-style: none
  margin: 10px 0 0
  padding: 0
  .social-links-item
    margin-left: 10px
    float: left
    a
      color: $color-yellow
      &:hover
        text-decoration: none
        color: $color-white

.hero

  &.hero-greylings
    height: 800px
    background: $color-black url(../images/hero-greylings.jpg) bottom center fixed
    background-size: cover

.hero-banner
  height: 650px
  margin: 0 auto

  .hero-title
    @extend %type-light
    @extend %type-70pt
    @extend %type-heading
    color: $color-white

  .hero-subtitle
    @extend %type-14pt
    color: $color-off-grey
    margin-bottom: 10px

  .hero-quote
    margin-top: 20px

    blockquote
      color: $color-white
      padding: 0
      margin: 0 0 20px
      background: none
      border: none
      p
        text-indent: -0.5em
        @extend %type-18pt
        @extend %line-height-24pt

    .hero-quote-source
      @extend %type-14pt
      text-transform: uppercase
      color: $color-off-grey
      display: inline-block
      border-top: 2px solid rgba($color-off-grey, 0.25)
      text-decoration: none
      padding-top: 5px
      .icon
        font-size: 0.75em
      &:hover
        color: $color-white
        border-top-color: $color-white

.button
  border: 1px solid $color-white
  color: $color-white
  text-decoration: none
  text-transform: uppercase
  padding: 5px 10px
  @extend %type-12pt
  .icon
    font-size: 0.75em
  &:hover
    color: $color-black
    text-decoration: none
    background: $color-white

.button-actions
  +clearfix

  .button
    float: right
    margin-left: 10px
