$color-white                                    : #fff
$color-black                                    : #000
$color-yellow                                   : #f8cd0d
$color-subtle-grey                              : #999
$color-light-grey                               : #e7e7e7
$color-off-white                                : #f7f7f7

$base-font-stack                                : "Source Sans Pro", Helvetica, Arial, sans-serif
$base-font-size                                 : 16px

$heading-font-stack                             : "Grotesque MT Std", "Source Sans Pro", Helvetica, Arial, sans-serif

$base-background-color                          : $color-white
$base-text-color                                : $color-black
$base-link-color                                : $color-black
$base-heading-color                             : $color-yellow