.overlay
  overflow: hidden

.wrapper
  position: relative
  transition: right 0.3s, opacity 0.3s
  right: 0
  z-index: 20

  .overlay &
    box-shadow: 0 0 50px $color-black
    right: 90%
    .breakpoint-xs &
      right: 99%

.about
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 0
  color: $color-white
  overflow-y: scroll
  -webkit-overflow-scrolling: touch
  .background-image
    position: fixed
  
  .content
    z-index: 10
    margin: 80px 0
    opacity: 0
    .overlay &
      opacity: 1