.footer
  background: $color-heading-grey
  padding: 160px 0 (20px + 42px)

  .footer-contact
    float: left
    .breakpoint-xs &
      float: none
    dl
      float: left
      margin: 0 20px 0 0
      .breakpoint-xs &
        float: none
        margin-bottom: 20px
    dt
      @extend %type-fancy
      @extend %type-12pt
      font-weight: normal
      color: $color-off-grey
    a
      color: $color-yellow
    .breakpoint-xs &
      dd
        @extend %type-14pt

  .breakpoint-xs &
    .social-links
      float: none
      .social-links-item
        margin-left: 0
        margin-right: 10px
    .plugins
      display: none

  .plugins
    padding-top: 20px
    margin-top: 20px
    border-top: 1px solid $color-body-grey
    .facebook
      float: left
    .twitter
      float: right