.hero
  position: relative
  width: 100%

  &.hero-keep-me-close
    background: $color-black
    overflow: hidden
    border-bottom: 4px solid #4e4e4e
    .breakpoint-xs &
      height: auto
    .hero-title-keep-me-close
      img
        width: 100%
        height: auto
        display: block
        margin-bottom: 20px
    .hero-message
      border-top: 1px solid rgba(#ffffff, 0.25)
      padding-top: 10px
      text-align: center

.background-image
  position: absolute
  width: 100%
  height: auto

.hero-banner
  padding: 160px 0
  margin: 0 auto

  .breakpoint-xs &
    height: auto
    padding: 140px 0 100px

  .hero-title
    @extend %type-70pt
    @extend %type-heading
    color: $color-white
    .breakpoint-md &
      @extend %type-58pt
    .breakpoint-sm &
      @extend %type-60pt
    .breakpoint-xs &
      @extend %type-44pt
      margin-bottom: 5px

  .hero-subtitle
    @extend %type-14pt
    color: $color-off-grey
    margin-bottom: 10px
    .breakpoint-xs &
      margin-bottom: 5px

  .hero-quote
    margin-top: 20px
    .breakpoint-xs &
      margin-top: 40px

    blockquote
      color: $color-white
      padding: 0
      margin: 0 0 20px
      background: none
      border: none
      p
        text-indent: -0.5em
        @extend %type-18pt
        @extend %line-height-24pt

  .hero-message
    margin-top: 20px
    .breakpoint-xs &
      margin-top: 40px
    p
      color: $color-white
      @extend %type-18pt
      @extend %line-height-24pt
  
  .hero-source
    @extend %type-14pt
    @extend %type-upcase
    color: $color-off-grey
    display: inline-block
    border-top: 2px solid rgba($color-off-grey, 0.25)
    text-decoration: none
    padding-top: 5px
    .icon
      font-size: 0.75em
    &:hover
      color: $color-white
      border-top-color: $color-white