.newsletter
  text-align: center
  padding: 20px 0
  position: relative
  z-index: 50

  .heading-title
    @extend %type-14pt
    color: $color-yellow
    margin-bottom: 10px

  .form-newsletter
    border-bottom: 1px solid rgba($color-white, 0.25)
    padding-bottom: 20px
  
    .email
      background: none
      border-radius: 0
      color: $color-white

    .email,
    .button
      height: 34px

    .breakpoint-xs &
      .button
        display: none
      .form-group
        margin-bottom: 0