.upcoming
  background: $color-yellow
  padding: 0 0 40px
  color: $color-black
  .upcoming-label
    margin-bottom: 20px
    @extend %type-12pt
    @extend %type-fancy
  .upcoming-title
    text-align: center
    @extend %type-24pt
    @extend %type-heading