.grid
  +clearfix()
  position: relative
  border-bottom: 5px solid $color-body-grey

  .grid-item
    position: relative
    height: 200px
    float: left
    
    .breakpoint-xs &
      width: 100%
    .breakpoint-sm &,
    .breakpoint-md &
      width: 25%
    .breakpoint-lg &
      width: 16.666666667%
    
    &.grid-item-twitter
      min-height: 200px
      transition: background 0.3s
      background: $color-off-white
      padding: 20px
      border-bottom: 2px solid $color-light-grey
      .subtle
        color: $color-subtle-grey
      &:hover
        background: $color-white

      .breakpoint-sm &,
      .breakpoint-md &
        width: 50%
      .breakpoint-lg &
        width: 33.333333334%
    
    .icons
      position: absolute
      top: 10px
      left: 10px

    .grid-item-hero
      display: block
      transform: translate3d(0,0,0)
      transition: background-size 0.3s
      width: 100%
      height: 100%
      background-size: 105% auto
      background-position: center
      background-repeat: no-repeat
      .meta-permalink
        color: $color-yellow
      &:hover
        background-size: 115% auto
        .overlay
          visibility: visible
          opacity: 1
    
    .overlay
      visibility: hidden
      transition: opacity 0.3s
      opacity: 0
      position: absolute
      padding: 20px
      width: 100%
      height: 100%
      background: rgba($color-black, 0.5)
      color: $color-white

    .text
      @extend %type-18pt
      margin-bottom: 10px

    .meta-permalink
      @extend %type-upcase
      @extend %type-12pt
      text-decoration: none
      .icon
        font-size: 0.75em