<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Brightly - A London-based indie/pop/folk/electronic band</title>
    <meta name="description" content="Brightly are an indie/pop/folk/electronic band. They have a really big crush on you.">
    <meta name="viewport" content="width=device-width">
    <!-- build:css(.tmp) styles/main.css -->
      <link rel="stylesheet" href="bower_components/sass-bootstrap/dist/css/bootstrap.css">
      <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <!-- build:js scripts/vendor/modernizr.js -->
      <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

    <!-- Facebook tags -->
    <meta property="fb:admins" content="500678127" />
    <meta property="og:site_name" content="Brightly - A London-based indie/pop/folk/electronic band" />
    <meta property="og:title" content="Brightly - A London-based indie/pop/folk/electronic band" />
    <meta property="og:description" content="Brightly are an indie/pop/folk/electronic band. They have a really big crush on you." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://wearebrightly.com/" />
    <meta property="og:image" content="http://wearebrightly.com/apple-touch-icon.png" />

    <!-- Metaquery breakpoints -->
    <meta name="breakpoint" content="xs" media="(max-width: 767px)">
    <meta name="breakpoint" content="sm" media="(min-width: 768px) and (max-width: 991px)">
    <meta name="breakpoint" content="md" media="(min-width: 992px) and (max-width: 1199px)">
    <meta name="breakpoint" content="lg" media="(min-width: 1200px)">

    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Open+Sans:400,600,300:latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
  </head>
  <body ng-app="BrightlyApp" ng-controller="MainCtrl">
  <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="header-logo">
            <a href="/">Brightly</a>
          </h1>
          <ul class="social-links">
            <li class="social-links-item"><a target="_blank" class="icon" href="http://music.wearebrightly.com">&#x266B;</a></li>
            <li class="social-links-item"><a target="_blank" class="social-icon" title="Follow us on Facebook" href="http://facebook.com/wearebrightly">&#xF610;</a></li>
            <li class="social-links-item"><a target="_blank" class="social-icon" title="Follow us on Twitter" href="http://twitter.com/wearebrightly">&#xF611;</a></lit>
            <li class="social-links-item"><a target="_blank" class="social-icon" title="Follow us on Tumblr" href="http://tumblr.wearebrightly.com">&#xF620;</a></li>
            <li class="social-links-item"><a target="_blank" class="social-icon" title="Follow us on YouTube" href="http://youtube.com/wearebrightly">&#xF630;</a></li>
            <li class="social-links-item"><a target="_blank" class="social-icon" title="Follow us on Flickr" href="http://flickr.com/wearebrightly">&#xF640;</a></li>
            <li class="social-links-item"><a target="_blank" class="social-icon" title="Follow us on Instagram" href="http://instagram.com/wearebrightly">&#xF641;</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <section class="hero hero-greylings">
      
    <img src="images/hero-greylings.jpg" class="background-image" ng-parallax />

    <div class="hero-banner">
      <div class="table-display">
        <div class="cell-display cell-vertical-center">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-md-push-3 col-md-pull-3 col-sm-8 col-sm-push-2 col-sm-pull-2">
                <h2 class="hero-subtitle">The New EP</h2>
                <h1 class="hero-title">The Greylings</h1>
                <div class="button-actions">
                  <a href="http://music.wearebrightly.com/album/the-greylings" class="button">
                    <span class="icon">&#x266B;</span>
                    Get it now
                  </a>
                </div>
                <div class="hero-quote">
                  <blockquote>
                    <p>“The result is a well-considered mix of clever chord changes and sensitive musicianship coupled with the genuine joy and excitement that Brightly have come to be known for.”</p>
                  </blockquote>
                  <a class="hero-quote-source" href="#">
                    <span class="icon">&#x1F517;</span>
                    Indieshuffle <span class="fancy">on</span> <span class="highlight">World War</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <section class="upcoming ng-cloak" ng-latest-gig ng-show="latest_gig">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="upcoming-label">
            <span class="waypoint">Next gig</span> powered by <a href="http://songkick.com/artists/4201936-brightly">Songkick</a>
          </div>
          <a class="upcoming-link" ng-href="{{ latest_gig.uri }}">
            <h1 class="upcoming-title">
              {{ latest_gig.venue.name }}
              <span class="upcoming-location">{{ latest_gig.city.name }}</span>
            </h1>
            <div class="upcoming-date">
              {{ latest_gig.date | amDateFormat:'h:mma, dddd MMMM Do'}}
            </div>
            <div ng-if="latest_gig.bands" class="upcoming-with">
              <span class="upcoming-highlight">with</span> <span class="upcoming-bands">{{ (latest_gig.bands | map:'name').join(', ') }}</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="grid" ng-feeds>
    <div class="grid-sizer"></div>
    <div ng-repeat="item in feeds" class="grid-item grid-item-{{item.service}}" ng-packery>
      <ng-include src="item.service"></ng-include>
    </div>
  </section>

  <script type="text/ng-template" id="twitter">
    <span class="social-icon">&#xF611;</span>
    <p class="text" ng-bind-html="item.text | unsafe"></p>
    <a class="meta-permalink" ng-href="{{ item.uri }}">
      <time am-time-ago="item.created_at">{{ item.created_at }}</time>
    </a>
  </script>

  <script type="text/ng-template" id="instagram">
    <div class="grid-item-hero" ng-style="{'background-image':'url({{ item.src }})'}">
    </div>
  </script>

  <script type="text/ng-template" id="meta">
    <ul class="post-meta">
      <li class="post-meta-item post-meta-service">
        <div class="social-icon" ng-bind-html="item.icon | unsafe"></div>
        <div class="post-meta-item-detail">{{ item.service }}</div>
      </li>
    </ul>
  </script>

  <!-- build:js scripts/vendor.js -->
  <!-- bower:js -->
    <script src="bower_components/metaquery/metaquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/imagesloaded-packaged/imagesloaded.pkgd.js"></script>
    <script src="bower_components/packery/packery.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');
  </script>

  <!-- build:js(.tmp) scripts/main.js -->
    <script src="scripts/main.js"></script>
    <script src="scripts/filters/unsafe.js"></script>
    <script src="scripts/filters/map.js"></script>
    <script src="scripts/directives/parallax.js"></script>
    <script src="scripts/directives/latest_gig.js"></script>
    <script src="scripts/directives/feeds.js"></script>
    <script src="scripts/directives/embed.js"></script>
    <script src="scripts/directives/packery.js"></script>
  <!-- endbuild -->
</body>
</html>
